<aside class="sidebar">
  <div class="scrollbar-inner">

    <div class="user">
      <div class="user__info" data-toggle="dropdown">
        <img class="user__img" src="/demo/img/profile-pics/2.jpg" alt="">
        <div>
          <div class="user__name"><%= current_user.full_name if current_user %></div>
          <div class="user__email"><%= current_user.email if current_user %></div>
        </div>
      </div>

      <div class="dropdown-menu">
        <%= link_to("<i class='zmdi zmdi-account-circle'></i> &nbsp My Profile".html_safe, edit_user_path(current_user), class: 'dropdown-item') %>
        <%= link_to("<i class='zmdi zmdi-settings'></i> &nbsp Settings".html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
        <%= link_to("<i class='zmdi zmdi-power'></i> &nbsp Sign Out".html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
      </div>
    </div>

    <ul class="navigation">
      <li class="navigation"><a href="/coins"><i class="zmdi zmdi-album"></i> Coins</a></li>
      <li class="navigation"><a href="/factors"><i class="zmdi zmdi-developer-board"></i> Factors</a></li>
      <li class="navigation"><a href="/users"><i class="zmdi zmdi-account"></i> Users</a></li>
      <li class="navigation"><a href="/issues"><i class="zmdi zmdi-bug"></i> Issues</a></li>
      <li class="navigation"><a href="/blogs"><i class="zmdi zmdi-blogger"></i> Blog</a></li>

      <li class="navigation__sub">
        <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-group-work"></i> Browse Theme</a>

        <ul>

          <li class="navigation__sub @@variantsactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-view-week"></i> Variants</a>

            <ul>
              <li class="@@sidebaractive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/hidden-sidebar.html">Hidden Sidebar</a></li>
              <li class="@@boxedactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/boxed-layout.html">Boxed Layout</a></li>
              <li class="@@hiddensidebarboxedactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/hidden-sidebar-boxed-layout.html">Boxed Layout with Hidden Sidebar</a></li>
            </ul>
          </li>

          <li class="@@typeactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/typography.html"><i class="zmdi zmdi-format-underlined"></i> Typography</a></li>

          <li class="@@widgetactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/widgets.html"><i class="zmdi zmdi-widgets"></i> Widgets</a></li>

          <li class="navigation__sub @@tableactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-view-list"></i> Tables</a>

            <ul>
              <li class="@@normaltableactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/html-table.html">HTML Table</a></li>
              <li class="@@datatableactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/data-table.html">Data Table</a></li>
            </ul>
          </li>

          <li class="navigation__sub @@formactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-collection-text"></i> Forms</a>

            <ul>
              <li class="@@formelementactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/form-elements.html">Basic Form Elements</a></li>
              <li class="@@formcomponentactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/form-components.html">Form Components</a></li>
              <li class="@@formvalidationactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/form-validation.html">Form Validation</a></li>
            </ul>
          </li>

          <li class="navigation__sub @@uiactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-swap-alt"></i> User Interface</a>

            <ul>
              <li class="@@colorsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/colors.html">Colors</a></li>
              <li class="@@cssanimationsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/css-animations.html">CSS Animations</a></li>
              <li class="@@buttonsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/buttons.html">Buttons</a></li>
              <li class="@@iconsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/icons.html">Icons</a></li>
              <li class="@@listviewactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/listview.html">Listview</a></li>
              <li class="@@toolbarsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/toolbars.html">Toolbars</a></li>
              <li class="@@cardsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/cards.html">Cards</a></li>
              <li class="@@alertactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/alerts.html">Alerts</a></li>
              <li class="@@badgesactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/badges.html">Badges</a></li>
              <li class="@@breadcrumbsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/breadcrumbs.html">Bredcrumbs</a></li>
              <li class="@@jumbotronactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/jumbotron.html">Jumbotron</a></li>
              <li class="@@navsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/navs.html">Navs</a></li>
              <li class="@@paginationactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/pagination.html">Pagination</a></li>
              <li class="@@progressactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/progress.html">Progress</a></li>
            </ul>
          </li>

          <li class="navigation__sub @@componentsactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-group-work"></i> Javascript Components</a>

            <ul class="navigation__sub">
              <li class="@@carouselactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/carousel.html">Carousel</a></li>
              <li class="@@collapseactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/collapse.html">Collapse</a></li>
              <li class="@@dropdownsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/dropdowns.html">Dropdowns</a></li>
              <li class="@@modalsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/modals.html">Modals</a></li>
              <li class="@@popoveractive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/popover.html">Popover</a></li>
              <li class="@@tabsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/tabs.html">Tabs</a></li>
              <li class="@@tooltipsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/tooltips.html">Tooltips</a></li>
              <li class="@@notificationsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/notifications-alerts.html">Notifications & Alerts</a></li>
              <li class="@@treeactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/treeview.html">Tree View</a></li>
            </ul>
          </li>

          <li class="navigation__sub @@chartsactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-trending-up"></i> Charts</a>

            <ul>
              <li class="@@flotchartsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/flot-charts.html">Flot</a></li>
              <li class="@@otherchartsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/other-charts.html">Other Charts</a></li>
            </ul>
          </li>

          <li class="@@calendaractive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/calendar.html"><i class="zmdi zmdi-calendar"></i> Calendar</a></li>

          <li class="@@photogalleryactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/photo-gallery.html"><i class="zmdi zmdi-image"></i> Photo Gallery</a></li>

          <li class="navigation__sub @@samplepagesactive">
            <a href="http://byrushan.com/projects/super-admin/app/2.1.2/"><i class="zmdi zmdi-collection-item"></i> Sample Pages</a>

            <ul>
              <li class="@@profileactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/profile-about.html">Profile</a></li>
              <li class="@@messagesactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/messages.html">Messages</a></li>
              <li class="@@contactsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/contacts.html">Contacts</a></li>
              <li class="@@newcontactsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/new-contact.html">New Contact</a></li>
              <li class="@@groupsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/groups.html">Groups</a></li>
              <li class="@@pricingtablesactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/pricing-tables.html">Pricing Tables</a></li>
              <li class="@@invoiceactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/invoice.html">Invoice</a></li>
              <li class="@@todoactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/todo-lists.html">Todo Lists</a></li>
              <li class="@@notesactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/notes.html">Notes</a></li>
              <li class="@@searchresultsactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/search-results.html">Search Results</a></li>
              <li class="@@issuesactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/issue-tracker.html">Issues Tracker</a></li>
              <li class="@@faqactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/faq.html">FAQ</a></li>
              <li class="@@teamactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/team.html">Team</a></li>
              <li class="@@blogactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/blog.html">Blog</a></li>
              <li class="@@blogdetailactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/blog-detail.html">Blog Detail</a></li>
              <li class="@@qaactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/questions-answers.html">Questions & Answers</a></li>
              <li class="@@qadetailactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/questions-answers-details.html">Questions & Answers Details</a></li>
              <li class="@@loginactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/login.html">Login & SignUp</a></li>
              <li class="@@lockscreenactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/lockscreen.html">Lockscreen</a></li>
              <li class="@@lockscreenactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/404.html">404</a></li>
              <li class="@@emptyactive"><a href="http://byrushan.com/projects/super-admin/app/2.1.2/empty.html">Empty Page</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
